body{
    margin: 0;
    min-height: 100vh; 
    background: linear-gradient(to bottom, #000000,#3d3d3d, #000000);
    display : flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

h1{
    color : white;
    margin-top: -50px;
    text-align: center;
    font-family: consolas, monospace;
}

.container{
    width: 300px;
    margin-top: 50px;
    padding: 50px;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: consolas, monospace;
}

#togglePassword{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#password{
    padding-inline: 10px;
    border-radius: 10px;
    background-color: rgb(226, 232, 236);
    color:rgb(0, 0, 0);
}
